# Example .gitignore file for your config dir.
# An * ensures that everything will be ignored.
*.log
*.db
*.db-shm
*.db-wal
*.dh-sha
*.conf
*.pyc
*.gz
*.backup
._*
__pycache__

# You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!.gitignore
!*.md
!*manifest.json
!.gitkeep

# Ignore folders.
.storage
.cloud
.google.token
deps
node-red

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
.config_entries.json
secrets.yaml
.uuid
core
image
known_devices.yaml
neighbours
esphome/secrets.yaml
esphome/**/